<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <% if(description){ %>
            <meta name="description" content="<%= description %>">
        <% }else{ %>
            <meta name="description" content="">
        <% } %>

        <title><%= title %></title>

        <%- head %>
    </head>

    <%- body %>
    <%- scripts %>
</html>