<%- contentFor('head')%>
<% include ./../css %>

<%- contentFor('body')%>
<body id="page-top" class="sidebar-toggled">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <% include ./../sidebar %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <% include ./../top-bar %>        

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Simulations</h1>
            <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
          </div>

          <div class="row">
            <div class="col-md-12">
              <% if(error){ %>
              <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>¡Error!</strong> <%= error %>
              </div>
              <% } %>
            </div>
          </div>

          <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="card shadow mb-4">
                <a onclick="mesajeEnviarModerador()" class="d-block card-header py-3" aria-expanded="true" aria-controls="collapseCardExample" style="cursor:pointer;">
                  <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-plus-circle"></i> Add Simulation</h6>
                </a>
                
                <div class="collapse" id="collapseCardExample">
                  <div class="card-body">
                    <form class="form-horizontal" id="form_add_simulation">
                      <fieldset>
                        <!-- Text input-->
                        <div class="form-group row">
                          <label for="simulationName" class="col-form-label col-sm-2">Simulation Name</label>
                          <div class="col-md-10">
                            <input id="simulationName" name="simulationName" type="text" class="form-control input-md" required="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="group_select" class="col-form-label col-sm-2">Groups</label>
                          <div class="col-md-10">
                            <select id="group_select" name="group" class="form-control selectpicker" data-live-search="true" required="">
                              <option value="">Nothing Selected</option>
                              <% for(var i = 0; i < groups.length; i++){ %>
                                <option value="<%= groups[i].id %>"><%= groups[i].get('codigo') %> - <%= groups[i].get('nombre') %></option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="datetimeStartTime" class="col-form-label col-sm-2">Start Time</label>
                          <div class="col-md-10">
                            <div class='input-group date' id='datetimeStartTime'>
                                <input id="startDateHidden" type="hidden" name="startDateHidden">
                                <input type='text' name="startDateText" class="form-control" disabled="" />
                                <span class="input-group-addon" style="margin-top: 4px; margin-left: 4px;">
                                  <i class="far fa-calendar-alt fa-2x"></i>
                                </span>
                            </div>
                          </div>
                        </div>
                        <!-- Button -->
                        <div class="form-group">
                          <div class="col-md-12">
                            <button id="singlebutton" name="singlebutton" class="btn btn-primary btn-block">Save</button>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Simulations Data</h6>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <ul id="tabs" class="nav nav-pills">
                        <li class="nav-item"><a href="" data-target="#todasLasSimulaciones" data-toggle="tab" class="nav-link small text-uppercase active">All simulations</a></li>
                        <li class="nav-item"><a href="" data-target="#misSimulaciones" data-toggle="tab" class="nav-link small text-uppercase ">My simulations</a></li>
                      </ul>
                      <br>
                      <div id="tabsContent" class="tab-content">
                        <div id="todasLasSimulaciones" class=" table-responsive tab-pane fade active show">
                          <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableTodasLasSimulaciones" width="100%" cellspacing="0">

                            </table>
                          </div>
                        </div>
                        <div id="misSimulaciones" class="table-responsive tab-pane fade">
                          <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
  <% include ../../Utilities/spinner%>

</body>

<%- contentFor('scripts')%>
<% include ./../scripts %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
  var log = console.log
  var table 

  $(document).ready(function() { 
    $('#datetimeStartTime').datetimepicker({
      sideBySide: true
    })

    $('#datetimeStartTime').on('dp.change', function(e){ 
      var date = moment(e.date)
      console.log(date.valueOf())
      $("#startDateHidden").val(date.valueOf())
    })
    reloadTable()
    reloadTableMisSimulaciones()
  });

  function reloadTable() {
    //log("Recargando tabla")
    $.ajax({
      type: "GET",
      url: "/administrador/simulaciones/datos",
      success: function(response) {
        //log(response.data)
        if ($.fn.DataTable.isDataTable("#dataTableTodasLasSimulaciones")) {
          //$("#table_report").DataTable().clear().draw();
          $("#dataTableTodasLasSimulaciones").dataTable().fnDestroy();
          //$("#table_report").dataTable();
          $('#dataTableTodasLasSimulaciones').empty();
        }

        var thead = ""
        var tfooter = ""

        thead += '<thead>'
        thead += '<tr>'
        thead += '<th>Name</th>'
        thead += '<th>Status</th>'
        thead += '<th>Group</th>'
        thead += '<th>Speed</th>'
        thead += '<th>Created At</th>'
        thead += '<th>Action</th>'
        thead += '</tr>'
        thead += '</thead>'
        tfooter += '<tfoot>'
        tfooter += '<tr>'
        tfooter += '<th>Name</th>'
        tfooter += '<th>Status</th>'
        tfooter += '<th>Group</th>'
        tfooter += '<th>Speed</th>'
        tfooter += '<th>Created At</th>'
        tfooter += '<th>Action</th>'
        tfooter += '</tr>'
        tfooter += '</tfoot>'

        $('#dataTableTodasLasSimulaciones').append(thead);
        $('#dataTableTodasLasSimulaciones').append(tfooter);

        $.fn.dataTable.moment('DD-MM-YYYY');
        $('#dataTableTodasLasSimulaciones').dataTable({
          processing: true,
          lengthMenu: [100, 10, 25, 50, 75],
          order: [
            [2, "desc"]
          ],
          deferRender: true,
          data: response.data,
          columns: [
            {data: null,render: function(data, type, row) {return data["simulationName"]}},
            {data: "status"},
            {data: null,render: 
              function(data, type, row) {return data["groupPtr"]["codigo"] + " - " + data["groupPtr"]["nombre"]
            }},
            {data: null,render: function(data, type, row) {
              switch(data["speedSimulation"]){
                case 60:
                default:
                  return "1x"
                case 30:
                return "2x"
                case 15:
                return "4x"
                case 7:
                return "8x"
                case 3:
                return "16x"
                case 3:
                return "32x"
              }
            }},
            {data: null,render: function(data, type, row) {return moment(data["createdAt"]).format('DD-MM-YYYY')}},
            {
              data: null,
              render: function(data, type, row) {
                var data_to_add = ""

                data_to_add = "<div class='row ml-2 mr-4' style='width:180px'>"

                /*data_to_add += "<div class='col-md-4'>"
                data_to_add += '<a href="/advisers/simulations/detail_simulation/'+data["objectId"]+'" target="_blank" class="btn btn-info btn-circle" data-toggle="tooltip" data-placement="bottom" title="Detail Simulation"><i class="fas fa-search" ></i></a>'
                data_to_add += "</div>"*/

                  if (data["active"]) {
                    data_to_add += "<div class='col-md-4'>"
                    data_to_add += '<button id="active" type"button" onclick="ActivateData(\'' + data["objectId"] + '\',false)" type="button" class="btn btn-warning btn-circle" data-toggle="tooltip" data-placement="bottom" title="Deactivate"><i class="fas fa-archive" ></i></button>'
                    data_to_add += "</div>"
                  } else {
                    data_to_add += "<div class='col-md-4'>"
                    data_to_add += '<button id="active" type"button" onclick="ActivateData(\'' + data["objectId"] + '\',true)" type="button" class="btn btn-success btn-circle" data-toggle="tooltip" data-placement="bottom" title="Activate"><i class="fas fa-archive"></i></button>'
                    data_to_add += "</div>"
                  }
                  data_to_add += "<div class='col-md-4'>"
                  data_to_add += '<button id="elimniar" type"button" onclick="EraseData(\'' + data["objectId"] + '\')" type="button" class="btn btn-danger btn-circle" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fas fa-eraser"></i></button>'
                  data_to_add += "</div>"

                data_to_add += "</div>"

                return data_to_add
              }
            }
          ]
        });
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {

      }
    });
  }

  function reloadTableMisSimulaciones() {
    //log("Recargando tabla")
    $.ajax({
      type: "GET",
      url: "/administrador/simulaciones/datos_admin",
      success: function(response) {
        //log(response.data)

        if ($.fn.DataTable.isDataTable("#dataTable")) {
          //$("#table_report").DataTable().clear().draw();
          $("#dataTable").dataTable().fnDestroy();
          //$("#table_report").dataTable();
          $('#dataTable').empty();
        }

        var thead = ""
        var tfooter = ""

        thead += '<thead>'
        thead += '<tr>'
        thead += '<th>Name</th>'
        thead += '<th>Status</th>'
        thead += '<th>Group</th>'
        thead += '<th>Speed</th>'
        thead += '<th>Created At</th>'
        thead += '<th>Action</th>'
        thead += '</tr>'
        thead += '</thead>'
        tfooter += '<tfoot>'
        tfooter += '<tr>'
        tfooter += '<th>Name</th>'
        tfooter += '<th>Status</th>'
        tfooter += '<th>Group</th>'
        tfooter += '<th>Speed</th>'
        tfooter += '<th>Created At</th>'
        tfooter += '<th>Action</th>'
        tfooter += '</tr>'
        tfooter += '</tfoot>'

        $('#dataTable').append(thead);
        $('#dataTable').append(tfooter);

        $.fn.dataTable.moment('DD-MM-YYYY');
        $('#dataTable').dataTable({
          processing: true,
          lengthMenu: [100, 10, 25, 50, 75],
          order: [
            [2, "desc"]
          ],
          deferRender: true,
          data: response.data,
          columns: [
            {data: null,render: function(data, type, row) {return data["simulationName"]}},
            {data: "status"},
            {data: null,render: 
              function(data, type, row) {return data["groupPtr"]["codigo"] + " - " + data["groupPtr"]["nombre"]
            }},
            {data: null,render: function(data, type, row) {
              switch(data["speedSimulation"]){
                case 60:
                default:
                  return "1x"
                case 30:
                return "2x"
                case 15:
                return "4x"
                case 7:
                return "8x"
                case 3:
                return "16x"
                case 3:
                return "32x"
              }
            }},
            {data: null,render: function(data, type, row) {return moment(data["createdAt"]).format('DD-MM-YYYY')}},
            {
              data: null,
              render: function(data, type, row) {
                var data_to_add = ""

                data_to_add = "<div class='row ml-2 mr-4' style='width:180px'>"
                data_to_add += "<div class='col-md-4'>"
                data_to_add += '<button type"button" onclick="mensaje(\'' + data["objectId"] + '\')" target="_blank" class="btn btn-info btn-circle" data-toggle="tooltip" data-placement="bottom" title="Detail Simulation"><i class="fas fa-search" ></i></button>'
                data_to_add += "</div>"

                  if (data["active"]) {
                    data_to_add += "<div class='col-md-4'>"
                    data_to_add += '<button id="active" type"button" onclick="ActivateData(\'' + data["objectId"] + '\',false)" type="button" class="btn btn-warning btn-circle" data-toggle="tooltip" data-placement="bottom" title="Deactivate"><i class="fas fa-archive" ></i></button>'
                    data_to_add += "</div>"
                  } else {
                    data_to_add += "<div class='col-md-4'>"
                    data_to_add += '<button id="active" type"button" onclick="ActivateData(\'' + data["objectId"] + '\',true)" type="button" class="btn btn-success btn-circle" data-toggle="tooltip" data-placement="bottom" title="Activate"><i class="fas fa-archive"></i></button>'
                    data_to_add += "</div>"
                  }
                  data_to_add += "<div class='col-md-4'>"
                  data_to_add += '<button id="elimniar" type"button" onclick="EraseData(\'' + data["objectId"] + '\')" type="button" class="btn btn-danger btn-circle" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fas fa-eraser"></i></button>'
                  data_to_add += "</div>"

                data_to_add += "</div>"

                return data_to_add
              }
            }
          ]
        });
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {

      }
    });
  }

  function mensaje(idAdmin){
    
     Swal.fire({
      title: 'Change view!',
      text: "Do you want to switch to the advisor view?",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Cancel',
      confirmButtonText: 'Ok'
    }).then((result) => {
      if (result.value) {
       window.location.href = '/advisers/simulations/detail_simulation/'+idAdmin
      }
    })
  }
</script>

<script>
  // Agregar usuario
  $("#form_add_simulation").submit(function(event) {
    event.preventDefault();
    log($(this).serialize())
    $.ajax({
      type: "POST",
      data: $(this).serialize(),
      url: "/advisers/simulations/add_simulation",
      success: function(response) {
        //log(response.data)
        reloadTable()
        reloadTableMisSimulaciones()
        $("#form_add_simulation").trigger("reset");
        Swal.fire(
          'Added!',
          'Simulation has been added successfully',
          'success'
        )
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
         $("#collapseCardExample").collapse('hide');
        Swal.fire(
          '¡Error!',
          XMLHttpRequest.responseJSON.error + '. Try again',
          'error'
        )
      }
    })
  });

  function ActivateData(objectId, seActiva) {
    if (seActiva) {
      Swal.fire({
        title: 'Activate',
        text: "Do you want to activate this simulation?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: 'Cancel',
        confirmButtonText: 'Activate'
      }).then((result) => {
        if (result.value) {
          $.ajax({
            type: "POST",
            data: {
              "objectId": objectId,
              "seActiva": seActiva
            },
            url: "/advisers/simulations/data_archive",
            success: function(response) {
              //log(response.data)
              reloadTable()
              reloadTableMisSimulaciones()
              Swal.fire(
                'Activated!',
                'The simulation has been activated successfully',
                'success'
              )
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              Swal.fire(
                '¡Error!',
                'An error occurred while performing the action, please try again',
                'success'
              )
            }
          })

        }
      })
    } else {
      Swal.fire({
        title: 'Deactivate',
        text: "Do you want to deactivate this simulation?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: 'Cancel',
        confirmButtonText: 'Deactivate'
      }).then((result) => {
        if (result.value) {
          $.ajax({
            type: "POST",
            data: {
              "objectId": objectId,
              "seActiva": seActiva
            },
            url: "/advisers/simulations/data_archive",
            success: function(response) {
              //log(response.data)
              reloadTable()
              reloadTableMisSimulaciones()
              Swal.fire(
                'Deactivated!',
                'The simulation has been succesfully deactivated',
                'success'
              )
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              Swal.fire(
                '¡Error!',
                'An error occurred while performing the action, please try again',
                'success'
              )
            }
          })
        }
      })
    }
  }

  function EraseData(objectId) {
    Swal.fire({
      title: 'Delete',
      text: "Do you want to delete this simulation?",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Cancel',
      confirmButtonText: 'Delete'
    }).then((result) => {
      if (result.value) {

        $("#spinner").fadeIn(1);
        $("#spinner").modal('show')
        $('.modal-backdrop').show()

        $.ajax({
          type: "POST",
          data: {
            "objectId": objectId
          },
          url: "/advisers/simulations/data_erase",
          success: function(response) {
            //log(response.data)
            reloadTable()
            reloadTableMisSimulaciones()

            $("#spinner").fadeOut(1);
            $('.modal-backdrop').hide()
            $('.modal-open').css({'overflow': 'visible'});
            
            Swal.fire(
              'Deleted!',
              'The simulation has been succesfully deleted',
              'success'
            )


          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {

            $("#spinner").fadeOut(1);
            $('.modal-backdrop').hide()
            $('.modal-open').css({'overflow': 'visible'});

            Swal.fire(
              'Error!',
              'An error ocurred while performing the action, please try again',
              'success'
            )
          }
        })
      }
    })
  }
</script>

<script type="text/javascript">
  function mesajeEnviarModerador(){
    Swal.fire({
      title: 'Change view!',
      text: "Do you want to switch to the advisor view?",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Cancel',
      confirmButtonText: 'Ok'
    }).then((result) => {
      if (result.value) {
       window.location.href = '/advisers/simulations'
      }
    })
  }
</script>