<%- contentFor('head') %>

<% include ./../css %>

<%- contentFor('body') %>

<body id="page-top" class="sidebar-toggled">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <% include ./../sidebar %>

    <% include ../../Utilities/spinnerLoadInitial %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" style="background: rgb(161,212,227);background: radial-gradient(circle, rgba(161,212,227,1) 0%, rgba(0,123,255,1) 100%);">

      <!-- Main Content -->
      <div id="content" class="body-wider">
        <!-- style="background-image: url('../../../assets/admin/img/undraw_posting_photo.svg'); width: 100%; height: 100vh; ">-->

        <% include ./../top-bar %>

        <!-- Begin Page Content -->
        <div class="container-fluid  mb-5">

          <!-- Page Heading -->
          <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12">
            <a class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample" style="100%; border-radius: 7px;">
              <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
            </a>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
            </div>

            <div class="row">
              <div class="col-md-12">
                <% if(error){ %>
                <div class="alert alert-danger alert-dismissable">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>¡Error!</strong> <%= error %>
                </div>
                <% } %>
              </div>
            </div>

            <div class="row pb-5">

              <div class="col-md-4 col-xs-12">
                <div>
                  <div class="card text-center justify-content-center p-4 height_cards">
                    <div class="col">

                      <div class="row border mb-4" style="height:40%">
                        <div class="col">
                          <div class="row border color_div_matricula" id="divOpciones" onclick="mostraDato('matricula')">
                            <i class="fas fa-address-card fa-2x" id="icono"></i>
                          </div>
                          <div class="row border color_div_nombre" id="divOpciones" onclick="mostraDato('nombre')">
                            <i class="fa fa-graduation-cap fa-2x" id="icono"></i>
                          </div>
                        </div>
                        <div class="col">
                          <div class="row border color_div_correo" id="divOpciones" onclick="mostraDato('correo')">
                            <i class="fas fa-envelope fa-2x" id="icono"></i>
                          </div>
                          <div class="row border color_div_telefono" id="divOpciones" onclick="mostraDato('telefono')">
                            <i class="fas fa-phone fa-2x" id="icono"></i>
                          </div>
                        </div>
                      </div>

                      <a onclick="mostrarFormContrasena()" style="cursor: pointer;" class="pt-4 text-primary">Update password</a>

                      <div class="row border border-top-0 mt-1 justify-content-center mb-3">

                        <form class="text-dark justify-content-center" id="form_cambiar_contrasena">
                          <div class="form-group">
                            <div class="col-md-12">
                              <input placeholder="Old Password" id="contrasena_actual_actualizar" name="contrasenaAnterior" type="password" class="form-control input-md" required="" title='Enter your current password.'>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-12">
                              <hr>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-md-12">
                              <input placeholder="New Password" id="contrasena_nueva_actualizar" type="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" oninvalid="setCustomValidity('The password must contain at least one number, one uppercase letter, one lowercase letter, and at least 8 characters.')" name="nuevaContrasena" class="form-control input-md" required="">
                            </div>
                          </div>
                          <div class="form-group ">
                            <div class="col-md-12">
                              <input placeholder="Confirm your password" id="contrasena_confirmar_actualizar" type="password" name="confirmarContrasena" class="form-control input-md" title='The password must contain at least one number, one uppercase letter, one lowercase letter, and at least 8 characters.' required="">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-12">
                              <button id="singlebutton" name="singlebutton" class="btn btn-primary btn-block">Save</button>
                            </div>
                          </div>
                        </form>

                        <div class="justify-content-center mt-3 mb-3" id="div_matricula">
                          <h3 class="text-center h4">Enrrolment</h3>
                          <h4 class="text-primary h5 text-center"> <%=currentUser.get("matricula")%></h4>
                        </div>

                        <div class="justify-content-center mt-3 mb-3" id="div_nombre">
                          <h3 class="text-center h4">Name</h3>
                          <h4 class="text-primary h5 text-center"> <%=currentUser.get("nombre")%> <%=currentUser.get("apellidoPaterno")%> <%=currentUser.get("apellidoMaterno")%></h4>
                        </div>

                        <div class="justify-content-center mt-3 mb-3" id="div_telefono">
                          <h3 class="text-center h4">Telephone</h3>
                          <h4 class="text-primary h5 text-center">
                            <% if(currentUser.get("telefono")==undefined){ %>
                            You don't have a phone number
                            <%}else{%>
                            <%=currentUser.get("telefono")%>
                            <%}%>
                        </h4>
                      </div>

                      <div class="justify-content-center mt-3 mb-3" id="div_correo">
                        <h3 class="text-center h4">Email</h3>
                        <h4 class="text-primary h5 text-center"><%=currentUser.get("correoElectronico")%></h4>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-xs-12">
                <div>
                  <div class="card text-center justify-content-center height_cards">
                    <img id="mi_imagen" src='/simulacion/images/<%=currentUser.get("colorRobot")%>_robot_crouch_000.png' />
                  </div>
                </div>
              </div>

              <div class=" col-md-4 mb-4 col-xs-12">
                <div>
                  <div class="card text-center justify-content-center height_cards">
                    <input type="hidden" name="" id="colorRobotActual" value="<%=currentUser.get("colorRobot")%>">
                    <div class="row " style="text-align:center;">
                      <div class="col">
                        <div class="row  text-center justify-content-center mt-3">
                          <img onclick="colorActulRobot('red')" src="/simulacion/images/red_robot_crouch_000.png" id="seleccion_avatars" class="red" style="cursor:pointer;" />
                        </div>
                        <div class="row  text-center justify-content-center mt-3">
                          <img onclick="colorActulRobot('yellow')" src="/simulacion/images/yellow_robot_crouch_000.png" id="seleccion_avatars" class="yellow" style="cursor:pointer;" />
                        </div>
                        <div class="row  text-center justify-content-center mt-3">
                          <img onclick="colorActulRobot('white')" src="/simulacion/images/white_robot_crouch_000.png" id="seleccion_avatars" class="white" style="cursor:pointer;" />
                        </div>
                      </div>

                      <div class="col">
                        <div class="row  text-center justify-content-center mt-3">
                          <img onclick="colorActulRobot('pink')" src="/simulacion/images/pink_robot_crouch_000.png" id="seleccion_avatars" class="pink" style="cursor:pointer;" />
                        </div>
                        <div class="row  text-center justify-content-center mt-3">
                          <img onclick="colorActulRobot('green')" src="/simulacion/images/green_robot_crouch_000.png" id="seleccion_avatars" class="green" style="cursor:pointer;" />
                        </div>
                        <div class="row  text-center justify-content-center mt-3">
                          <img onclick="colorActulRobot('blue')" src="/simulacion/images/blue_robot_crouch_000.png" id="seleccion_avatars" class="blue" style="cursor:pointer;" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <% include ../../Utilities/spinner %>

</body>

<%- contentFor('scripts') %>

<% include ./../scripts %>

<script type="text/javascript">
  var log = console.log
  $(document).ready(function() {
    mostrarFormContrasena()
    var colorRobotActual = $("#colorRobotActual").val()
    //$("#color_robot_editar").selectpicker('val', colorRobotActual)
    $("." + colorRobotActual + "").css("background", "rgb(223,176,60)");
    $("." + colorRobotActual + "").css("background", "radial-gradient(circle, rgba(223,176,60,0.6880952209985557) 0%, rgba(238,236,174,0.06904760195093662) 100%)");
    $('#spinnerPerfil').remove()
  })
</script>

<script type="text/javascript">
  $("#form_cambiar_contrasena").submit(function(event) {
    event.preventDefault();
    $('#spinner').modal('show')
    var contraAnterior = $("#contrasena_actual_actualizar").val()
    var contraNueva = $("#contrasena_nueva_actualizar").val()
    var contraConfirmar = $("#contrasena_confirmar_actualizar").val()
    $.ajax({
      type: "POST",
      url: "/alumnos/profile/revisar_contrasena",
      data: {
        "contraAnterior": contraAnterior
      },
      success: function(response) {
        if (response.data == false) {
          $("#contrasena_actual_actualizar").val("")
          return MensajeError("The old password does not match the current password, try again.")
        }
        if (contraNueva != contraConfirmar) {
          $("#contrasena_nueva_actualizar").val("")
          $("#contrasena_confirmar_actualizar").val("")
          return MensajeError("The passwords are not the same, in New password and Confirm password, try again.")
        }
        ActualizarContrasena(contraNueva)
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        $('#spinner').modal('hide')
        Swal.fire(
          'Error!',
          'An error occurred while performing the action, please try again',
          'error'
        )
      }
    })

  })
</script>

<script type="text/javascript">
  function MensajeError(text) {
    $('#spinner').modal('hide')
    Swal.fire(
      'Password!',
      `${text}`,
      'warning'
    )
  }
</script>

<script type="text/javascript">
  function ActualizarContrasena(contrasena) {
    $.ajax({
      type: "POST",
      url: "/alumnos/profile/actualizar_contrasena",
      data: {
        "nuevaContrasena": contrasena
      },
      success: function(response) {
        $("#form_cambiar_contrasena").trigger("reset");
        $('#collapseCardExample').collapse('hide');
        $('#spinner').modal('hide')
        Swal.fire(
          'Update!',
          'The password has been updated successfully',
          'success'
        )
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        $('#spinner').modal('hide')
        Swal.fire(
          'Error!',
          'An error occurred while performing the action, please try again',
          'error'
        )
      }
    })
  }
</script>

<script type="text/javascript">
  function actualizarRobot(color) {
    $("#spinner").fadeIn(1);
    $("#spinner").modal('show')
    $.ajax({
      type: "POST",
      url: "/alumnos/profile/actualizar_color_robot",
      data: {
        "colorRobot": color
      },
      success: function(response) {
        $("#spinner").fadeOut(1);
        $("#spinner").modal('hide')
        var rutaimagen = "../../../simulacion/images/" + response.data["colorRobot"] + "_robot_crouch_000.png"
        $("#mi_imagen").attr("src", rutaimagen)
        $("#image_top_bar").attr("src", rutaimagen)
        Swal.fire(
          'Update!',
          'The robot color has been updated successfully',
          'success'
        )
        $("#color_robot_editar").selectpicker('val', response.data["colorRobot"])
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        $("#spinner").fadeOut(1);
        $("#spinner").modal('hide')
        Swal.fire(
          'Error!',
          'An error occurred while performing the action, please try again',
          'error'
        )
      }
    })
  }
</script>

<script type="text/javascript">
  function colorActulRobot(color) {
    limpiarSeleccion()
    $("." + color + "").css("background", "rgb(223,176,60)");
    $("." + color + "").css("background", "radial-gradient(circle, rgba(223,176,60,0.6880952209985557) 0%, rgba(238,236,174,0.06904760195093662) 100%)");
    actualizarRobot(color)
  }

  function limpiarSeleccion() {
    $(".red").css("background", "");
    $(".yellow").css("background", "");
    $(".white").css("background", "");
    $(".pink").css("background", "");
    $(".green").css("background", "");
    $(".blue").css("background", "");
  }
</script>

<script type="text/javascript">
  function mostrarFormContrasena() {
    ocultarDivs()
    limpiarColorDiv()
    $("#form_cambiar_contrasena").show()
  }

  function mostraDato(nombreDiv) {
    ocultarDivs()
    $("#div_" + nombreDiv + "").show()
    limpiarColorDiv()
    $(".color_div_" + nombreDiv + "").css("background", "#36b9cc");
  }
</script>
<script type="text/javascript">
  function ocultarDivs() {
    $("#form_cambiar_contrasena").hide()
    $("#div_matricula").hide()
    $("#div_nombre").hide()
    $("#div_telefono").hide()
    $("#div_correo").hide()
  }

  function limpiarColorDiv() {
    $(".color_div_matricula").css("background", "");
    $(".color_div_nombre").css("background", "");
    $(".color_div_correo").css("background", "");
    $(".color_div_telefono").css("background", "");
  }
</script>
